MUSICBOT_UID=1000
MUSICBOT_GID=1000

MUSICBOT_ENV="dev"
MUSICBOT_BOT_NAME="test_musicbot"

### YOU MUST FILL THIS VARIABLE #################
MUSICBOT_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"
#################################################

MUSICBOT_DB_PATH="./data"
MUSICBOT_LOG_LEVEL="TRACE"
MUSICBOT_LOG_PATH="./logs"
MUSICBOT_HEALTHCHECK_HOST="0.0.0.0"
MUSICBOT_HEALTHCHECK_PORT=8080

### YOU MUST FILL THIS VARIABLE ################################
MUSICBOT_CHAT_ID_WHITELIST="A_CHAT_ID_HERE,ANOTHER_CHAT_ID_HERE"
################################################################

MUSICBOT_CHAT_ID_ERRORS=""
MUSICBOT_ALLOWLIST_CACHE_TTL=604800  # one week
MUSICBOT_SEARCH_PROVIDERS="deezer,spotify"
MUSICBOT_PREFERRED_PREVIEWS="youtube,spotify,musicbrainz"
# MUSICBOT_USER_AGENT="MusicBot/3.0"
MUSICBOT_PROVIDER_TIMEOUT=30

### SPOTIFY CREDENTIALS (required for Spotify to work) ####
MUSICBOT_SPOTIFY_CLIENT_ID="YOUR_SPOTIFY_CLIENT_ID_HERE"
MUSICBOT_SPOTIFY_CLIENT_SECRET="YOUR_SPOTIFY_CLIENT_SECRET"
###########################################################
